HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project Specific ###
uploads/
*.log
build_errors.txt
clean_errors.txt
mvn_error_ascii.txt
run_output.txt
startup.log
startup2.log
run_log.txt
.compass/
.tmp-auth-test/
.tmp-auth-test-report/
data/
